.Container {
    width: 100%;
    background-color: #fcdbe2;
    box-sizing: border-box;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
}

.Btn {
    display: flex;
    flex-direction: row-reverse;
}

.Question {
    font-size: 25px;
    font-weight: 700;
    color: #FF5972;
    margin-bottom: 20px;
}

.Line {
    width: 100%;
    height: 1px;
    background-color: #FF5972;
}

.OptionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Option {
    background-color: #FF5972;
    padding: 15px;
    width: 40%;
    margin: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Clickable {
    cursor: pointer;
}

.YellowBullet {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color:  rgb(255, 187, 60);
    display: inline-block;
}

.Voted {
    color: rgb(255, 187, 60);
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
}

.GreenBullet {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color:  rgb(32, 202, 32);
    display: inline-block;
}

.Active {
    color: rgb(32, 202, 32);
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
}

.RedBullet {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color:  red;
    display: inline-block;
}

.Stopped {
    color: red;   
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
}