.Container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.InnerContainer {
    width: 80%;
}

.PollSection {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
}

.Polls {
    width: 60%;
    border-radius: 25px;
}

.NoPolls {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: #FF5972;
}

@media screen and (max-width: 768px) {
    .PollSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Polls {
        width: 100%;
    }
}