.Container {
    box-sizing: border-box;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerFluid {
    width: 80%;
}

.IconBtn {
    display: flex;
    justify-content: center;
}

.IconContainer {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: #FF5972;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0pc 45px;
}

.Icon {
    font-size: 20px;
    color: #F4F4F4;
}

.Typo {
    font-size: 20px;
    font-weight: 400;
    color: #FF5972;
}

.PollContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoPolls {
    font-size: 35px;
    font-weight: 800;
    color: #FF5972;
    margin: 10px;
}