.Container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.TextArea {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF5972;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ff5972' stroke-width='0.53' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cuse fill='%23ff5c75' href='%23s' y='2'/%3E%3Cuse fill='%23ff5c75' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23ff6078' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23ff6078' href='%23s'/%3E%3Cuse fill='%23ff637a' href='%23s' x='2'/%3E%3Cuse fill='%23ff637a' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff667d'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff667d'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff6a80'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff5972'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23ff6d83'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff637a'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff637a'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(39.95) translate(-974.97 -731.23)'%3E%3Cg fill='%23ff637a'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    /* background-image: linear-gradient(290deg, #ee6398 0%, #ff5972 100%); */
}

.SignupTitle {
    font-size: 50px;
    font-weight: 800;
    color: #f4f4f4;
    margin: 0px;
}

.SignupPara {
    font-size: 25px;
    color: #f4f4f4;
    text-align: center;
}

.SignupBtn {
    text-align: center;
    width: 120px;
    padding: 5px;
    border: 2px solid #f4f4f4;
    border-radius: 25px;
}

.SignupLink {
    text-decoration: none;
    font-size: 25px;
    color: #f4f4f4;
}

.FormContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heading {
    font-size: 40px;
    color: #FF5972;
    font-weight: 800;
}

.Title {
    font-size: 50px;
    font-weight: 800;
    color: #FF5972;
    text-decoration: none;
}

.InputDiv {
    display: flex;
    flex-direction: column;
}

.Label {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #FF5972;
}

.Field {
    width: 350px;
    height: 35px;
    background: #f4f4f4;
    border: 2px solid #FF5972;
    border-radius: 25px;
    margin-bottom: 8px;
    outline: none;
    color: #FF5972;
    font-size: 20px;
    padding: 5px 20px;
}

.Field::placeholder {
    color: #FF5972;
}

.Btn {
    margin-top: 10px;
    background-color: #FF5972;
    color: #f4f4f4;
    border: 2px solid #FF5972;
    font-size: 25px;
    padding: 5px;
    border-radius: 25px;
    width: 120px;
    outline: none;
}

.CreateAccount {
    font-size: 15px;
    text-decoration: none;
    margin-top: 15px;
    color: #FF5972;
}

@media screen and (max-width: 880px) {
    .SignupTitle {
        font-size: 40px;
    }

    .SignupPara {
        font-size: 18px;
    }
}

@media screen and (max-width: 740px) {
    .TextArea {
        display: none;
    }

    .FormContainer {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .Field {
        width: 250px;
    }
}